@using Microsoft.AspNetCore.Identity
@using ShopAppWebUI.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


    <li class="nav-item">
        <a class="nav-link" href="/Cart/GetUserCart" id="cart-container">
            <span id="cartCount" class="badge text-bg-info text-dark">0</span>
        <i class="bi bi-bag"></i>
        </a>
    </li>
    
    @if (SignInManager.IsSignedIn(User))
    {
        <li style="padding: 0 0px">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <i class="bi bi-person"></i>
                @if (User.IsInRole("Admin"))
                {
                <span>(@Localizer["Admin"])</span>
                }
            </a>
        </li>
        <li>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="logout-button">
                <i class="bi bi-box-arrow-right"></i>
            </button>
        </form>

        </li>
    }
    else
    {
        <li>
        <a asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
        </li>
        <li>
        <a asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a>
        </li>
    }


