@{
    ViewData["Title"] = "Photography";
}
<div class="container">
    <div class="photo-gallery">


        <div class="photo">
            <img src="https://i.ibb.co/RSBcjRn/IMG-7857.jpg" alt="IMG-7857">
        </div>
        <div class="photo">
            <img src="https://i.ibb.co/yRDwDm8/IMG-7892.jpg" alt="IMG-7892">
        </div>
        <div class="photo">
            <img src="https://i.ibb.co/d6tjv58/IMG-7945.jpg" alt="IMG-7945">
        </div>


    </div>
    <div class="photo-gallery">
        <div class="photo">
            <img src="https://i.ibb.co/LPrc3ZJ/IMG-7942.jpg" alt="IMG-7942">
        </div>
        <div class="photo">
            <img src="https://i.ibb.co/DtvksMg/IMG-7935.jpg" alt="IMG-7935">
        </div>
    </div>
    <div class="photo-gallery">
        <div class="photo">
            <img src="https://i.ibb.co/RcQHBWJ/IMG-7931.jpg" alt="IMG-7931">
        </div>
        <div class="photo">
            <img src="https://i.ibb.co/nDm8dSK/IMG-7868.jpg" alt="IMG-7868">
        </div>
        <div class="photo">
            <img src="https://i.ibb.co/LSGVryx/IMG-6435.jpg" alt="IMG-6435">
        </div>
    </div>
</div>
